// Fonts

$fontStack: "Noto Sans", sans-serif;
// Colors

$navy: #00203f;
$turquoise: #adefd1;
$paleturquoise: #dcf5e9;
$turquoisegreen: #29af66;
$palegreen: #2bae66;
$skyblue: #0077ea;
$charcoal: #1a1a1a;
$maroon: #5b0e10;
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
body,
html {
    font-family: $fontStack;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    font-size: 1.02em;
    // overflow-x: hidden;
    // overflow-y: auto;
}
ul {
    padding-left: 0;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}
// Header
.hero-section {
    background: $turquoise;
    padding-bottom: 100px;
    .hero-cont {
        @media (min-width: 900px) {
            display: flex;
            flex-direction: row-reverse;
            padding: 5%;
        }
    }
    .hero-content {
        @media (min-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    img[alt="web design icon"] {
        width: 55vw;
        @media (min-width: 600px) {
            width: 40vw;
        }
        @media (min-width: 900px) {
            width: 25vw;
        }
        height: auto;
        display: block;
        margin: 100px auto 0 auto;
    }
    h1,
    h2 {
        text-align: center;
        line-height: 1em;
        color: $navy;
        @media (min-width: 900px) {
            text-align: left;
        }
    }
    h1 {
        font-size: 1.9em;
        text-transform: uppercase;
        margin-top: 0.75em;
        font-weight: 600;
        @media (min-width: 900px) {
            margin-bottom: 0;
            font-size: 2em;
        }
    }
    h2 {
        width: 70%;
        margin: auto;
        font-size: 1.1em;
        font-weight: 500;
        margin-top: 0.25em;
        @media (min-width: 900px) {
            margin: 0 0 1em 0;
        }
    }
    .cta-cont {
        display: flex;
        justify-content: center;
        margin: 1.5em;
        @media (min-width: 900px) {
            margin: 0;
        }
        a {
            padding: 0.6em;
            margin: 1em 0.5em;
            font-size: 0.95em;
            @media (min-width: 900px) {
                margin: 0 1em 0 0;
                font-size: 0.85em;
            }
        }
        a:nth-of-type(1) {
            background: $navy;
            color: $turquoise;
        }
        a:nth-of-type(2) {
            background: $skyblue;
            color: $turquoise;
        }
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 2em;
    }
    padding: 1em;
    @media (min-width: 900px) {
        padding: 1em 5%;
    }
}
.logo-cont {
    display: flex;
    & > span {
        font-size: 1.25em;
        padding: 0.05em 0.1em;
        border: 2px solid $navy;
        margin-right: 0.25em;
    }
    .logo-name {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > span:nth-of-type(1) {
            font-size: 1em;
            line-height: 1em;
        }
        & > span:nth-of-type(2) {
            font-size: 0.6em;
        }
    }
}

#side-menu {
    top: 90px;

    @media (min-width: 1120px) {
        display: none;
    }
    height: 100%;
    width: 0; // 0 initial, modified with javaScript
    position: fixed;
    z-index: 1; // Stay on top
    left: 0;
    background-color: $navy;
    color: white;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}
// Hello section

.hello-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 75px 0;
    border-color: transparent transparent $navy transparent;
    margin-top: -99px;
}
.hello-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 100vw 0 0;
    border-color: $navy $turquoisegreen $turquoisegreen $turquoisegreen;
    // margin-top: -99px;
}

.hello {
    background: $navy;
    color: $paleturquoise;

    @media (min-width: 700px) {
        display: flex;
        padding: 5%;
    }
    @media (min-width: 900px) {
        display: flex;
        padding: 10%;
    }

    h3,
    h4,
    p {
        width: 80%;
        margin: auto;
    }
    h3 {
        font-size: 2em;
        text-align: center;
        @media (min-width: 700px) {
            text-align: left;
        }
    }
    h4 {
        font-weight: 300;
        margin-bottom: 1em;
    }
    p {
        color: white;
        font-size: 0.75em;
        margin-top: 1em;
        line-height: 1.5em;
    }
}

img[src="/assets/me.png"] {
    width: 30%;
    height: auto;
    border: 5px white solid;
    border-radius: 20vw;
    background: white;
    @media (min-width: 700px) {
        width: 25%;
        border-radius: 0;
        border: 12px white solid;
    }
    display: block;
    margin: auto;
}

// H3 Heading

.services,
.portfolio,
.pricing,
.contact {
    h3 {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 400;
        width: 80%;
        margin: auto;
        text-align: center;
        line-height: 1em;
    }
    hr {
        width: 30%;
        margin: 0.35em auto;
        border-top: 1px white solid;
    }
}
nav {
    ul {
        margin: 2em auto;
        list-style-type: none;
        li {
            margin: 0.75em;
            font-size: 1.35em;
            text-align: center;
        }
    }
}

// Services

.services {
    background: $turquoisegreen;
    background-image: url("/assets/services-background.svg");
    background-size: cover;
    // background-position: 0;
    color: white;
    padding: 3em 0;
    overflow: hidden;
    h3,
    h4,
    p {
        width: 80%;
        margin: auto;
    }
    p {
        color: white;
        font-size: 0.75em;
        margin-top: 1em;
        line-height: 1.5em;
    }
}
.card-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 700px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5em;
    }
    .card {
        margin: 10vw 10vw 0 10vw;
        @media (min-width: 700px) {
            margin: 2%;
            width: 40%;
        }
        // width: 100%;
        padding: 2em;
        border-radius: 20px;
        background: white;
        color: rgb(24, 24, 24);
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        ul {
            list-style-type: none;
            text-align: left;
            font-size: 0.8em;
            color: rgb(24, 24, 24);
        }
        h4,
        i {
            text-align: center;
        }
        i {
            font-size: 2em;
            background: rgb(238, 238, 238);
            padding: 0.7em;
            border-radius: 50%;
        }
        h4 {
            font-size: 1.3em;
            width: 100%;
            margin-bottom: 1em;
        }
        &:nth-of-type(1) {
            color: #ea1010;
        }
        &:nth-of-type(2) {
            color: #f1c40f;
        }
        &:nth-of-type(3) {
            color: #0060a9;
        }
    }
}
.services-bottom {
    @media (min-width: 800px) {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20vw 385vw 100vw 75vw;
        border-color: transparent transparent $navy transparent;
        margin-top: -100vw;
    }
}

// Portfolio

.portfolio-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12vw 100vw;
    @media (min-width: 800px) {
        border-width: 0 30vw 12vw 70vw;
    }

    // transform: rotate(180deg);
    border-color: $navy $navy white $navy;
    // margin-top: -117px;
}

.portfolio {
    padding: 3em 0;
    color: $charcoal;
    hr {
        border-top: $charcoal 2px solid;
    }
    h4 {
        font-size: 0.8em;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .portfolio-cont {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (min-width: 500px) {
            width: 80%;
            margin: auto;
        }
        img {
            width: 100%;
            height: auto;
        }
        h4 {
            color: $maroon;
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0.5em auto 0 auto;
            font-weight: 600;
            @media (min-width: 900px) {
                text-align: left;
                margin-bottom: 0;
            }
        }
        h5 {
            font-style: italic;
            margin: 0.25em auto;
            text-align: center;

            @media (min-width: 900px) {
                text-align: left;
                // font-size: 0.9em;
                margin-top: -0.25em;
            }
        }
        p {
            font-size: 0.9em;
            @media (min-width: 900px) {
                font-size: 0.7em;
                line-height: 1.35em;
            }
        }
        .portfolio-item {
            display: flex;
            flex-direction: column;
            padding: 1.5em;
            @media (min-width: 800px) {
                padding: 1.5em 0;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
            }
        }

        picture {
            @media (min-width: 900px) {
                width: 55%;
                padding-right: 2%;
            }
        }
        .portfolio-item-content {
            @media (min-width: 900px) {
                width: 45%;
                padding-left: 2%;
                text-align: left;
            }
        }
    }
}

// Pricing

.pricing-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 12vw 0;
    @media (min-width: 800px) {
        border-width: 0 70vw 12vw 30vw;
    }
    border-color: transparent transparent $charcoal transparent;
    margin-top: -50px;
}

section.pricing {
    background: $charcoal;
    padding: 3em 0;
    color: white;
}

.package-card {
    border: 1px rgb(255, 230, 0) solid;
    border-radius: 10px;
    padding: 1.5em;
    width: 80%;
    margin: 2.5em auto;
    overflow: hidden;
    .package-card-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 15%;
            height: auto;
            margin-right: 0.75em;
            @media (min-width: 500px) {
                width: 3em;
                margin: 0;
            }
        }
    }
    h4 {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
        font-size: 1.15em;
    }
    h5 {
        margin: 0;
    }
    h6 {
        text-transform: uppercase;
    }
    ul {
        padding-left: 1.25em;
        list-style-type: square;
        li {
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}
// Contact

.contact-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50vw 75px 50vw;
    border-color: $charcoal $charcoal $palegreen $charcoal;
}

section.contact {
    background: $palegreen;
    padding: 2em 0;
    color: white;
}

form {
    padding: 3em 0;
    width: 80%;
    margin: auto;
    label {
        text-align: left;
        font-weight: bold;
        width: 100%;
        font-size: 0.8em;
    }
    input,
    textarea {
        width: 100%;
        font-family: $fontStack;
        margin-top: 0.15em;
        margin-bottom: 0.5em;
        background: transparent;
        color: white;
        border-radius: 5px;
        padding: 0.5em;
        font-size: 1.1em;
        border: 2px solid white;
    }

    textarea {
        min-height: 200px;
    }
    input[type="submit"] {
        background: white;
        color: $palegreen;
        margin-top: 0.5em;
    }
}

// Footer

footer {
    font-size: 0.85em;
    @media (max-width: 727px) {
        padding: 2em 1em;
    }
    padding: 4em;
    background: #001a31;
    color: rgb(245, 245, 245);
    font-family: "Open Sans";
    width: 100%;
    hr {
        width: 30%;
        margin: 0.25em auto 0.25em 0;
        background-color: white;
    }
    h3,
    h4 {
        margin: 0;
    }
    .footer-content {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 80%;
        @media (max-width: 727px) {
            flex-direction: column;
            width: 100%;
        }
        .footer-about {
            text-align: left;
            @media (max-width: 727px) {
                text-align: center;
            }
            @media (min-width: 1100px) {
                width: 70%;
            }
            h3 {
                font-weight: 800;
            }
            h4 {
                font-weight: 600 !important;
            }
            p {
                width: 70%;
                font-weight: 300;
                @media (min-width: 1100px) {
                    width: 50%;
                }
                @media (max-width: 727px) {
                    margin: auto;
                    text-align: justify;
                }
            }
            hr {
                @media (max-width: 727px) {
                    margin: 0.5em auto;
                }
            }
        }
        .link-cont {
            @media (max-width: 727px) {
                width: 70%;
                align-items: center;
                margin-top: 1em;
            }
            width: 30%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: flex-end;
            .row-1 {
                display: flex;
                font-size: 1.5em;
                @media (max-width: 727px) {
                    justify-content: center;
                }
            }
            .row-2 {
                display: flex;
                align-items: center;
                font-size: 0.8em;
            }
        }
    }
    a {
        font-size: 1.25em;
        color: white;
        &:hover {
            color: orange;
            transition: color 0.1s;
        }
        padding: 0.25em;
    }
}

// External

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -11px;
}
.hamburger-inner::after {
    bottom: -11px;
}

.hamburger--vortex .hamburger-inner {
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
}
